.paragraph {
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  width: 50%;
  background-color: rgba($white, .4);
  &.center {
    align-items: center;
  }
  &.white {
    color: $white;
  }
  h1 {
    font-size: 40pt;
    margin-bottom: 2rem;
    .tag {
      padding: 0 10px;
    }
  }
  p {
    font-size: 12pt;
    line-height: 27pt;
    letter-spacing: 2px;
    color: $content;
  }
}

.link {
  margin: 2rem 0;
  color: inherit;
  text-decoration: none;
  span {
    margin-right: 1rem;
  }
}

@keyframes downArrow {
  0% {
    transform: translateY(0em);
    opacity: 0;
  }
  50% {
    transform: translateY(4em);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0em);
    opacity: 0;
  }
}

.next {
  position: absolute;
  bottom: 9%;
  height: 100pt;
  left: 50%;
  right: 50%;
  display: flex;
  justify-content: center;
  filter: drop-shadow(0 0 8px $black);
  -webkit-filter: drop-shadow(0 0 8px $black);
  cursor: pointer;
  @media screen and (max-width: 667px) {
    transform: scale(.7);
  }
  img {
    animation: downArrow 2s infinite;
    width: 108pt;
    height: 50pt;
  }
}

.card-container {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  .card {
    margin: 2rem;
    background: linear-gradient(to bottom right, rgba($white, .1), rgba($white, .2) 90%);
    box-shadow: 1pt 1pt 2pt rgba($black, .5);
    width: calc(25% - 4rem);
    .image {
      height: 200px;
      background-size: cover;
      background-position: center;
    }
    .content {
      padding: 10pt;
      h2 {
        margin: 10pt 0;
      }
      p {
        line-height: 23pt;
        font-size: 12pt;
        margin: 10pt 0;
      }
    }
  }
}

.people-container {
  display: flex;
  flex-wrap: wrap;
  .people {
    display: flex;
    flex-direction: column;
    margin: 10pt;
    .image {
      z-index: 1;
      height: 200px;
      width: 200px;
      background-size: cover;
      border-radius: 50%;
      box-shadow: 1pt 1pt 2pt rgba($black, .5);
    }
    .content {
      z-index: 0;
      height: 300px;
      width: 300px;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: linear-gradient($blue, $dark-blue);
      padding: 10pt;
      color: $white;
      transform: translate(20pt, -40pt);
      >* {
        text-align: center;
      }
      h2 {
        margin: 10pt 0;
      }
      p {
        line-height: 23pt;
        font-size: 12pt;
      }
      .link-bar {
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 0;
        top: 0;
        width: calc((2.5rem + 10pt) * 3);
        .icon {
          font-size: 1.5rem;
          color: $white;
          margin: .5rem;
          height: 1.5rem;
          width: 1.5rem;
          border-radius: 50%;
          padding: 5pt;
          box-shadow: 1pt 1pt 2pt rgba($black, .5);
          &.facebook-f {
            background-color: $facebook;
          }
          &.github {
            background: $black;
          }
        }
      }
    }
  }
}