.spotlight {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  &.has-bg {
    &.blue {
      background: linear-gradient($blue, $dark-blue);
    }
    background-color: $paper;
    justify-content: center;
  }
}