#team {
  flex-direction: row;
  @media screen and (max-width: 1280px) {
    flex-direction: column;
  }
  header {
    height: 100%;
    padding: 2rem 4rem;
    h1 {
      margin: 2rem 0;
    }
    p {
      line-height: 23pt;
      font-size: 12pt;
      color: $content;
    }
  }
  .people-container {
    width: 80%;
    height: 100%;
    @media screen and (max-width: 1280px) {
      width: 100%;
    }
  }
}